<div class="tab-para">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="single-tab-select-box">

                <h2>destination</h2>

                <div class="travel-select-icon">
                    <select class="form-control ">

                          <option value="default">enter your destination country</option><!-- /.option-->

                          <option value="turkey">turkey</option><!-- /.option-->

                          <option value="russia">russia</option><!-- /.option-->
                          <option value="egept">egypt</option><!-- /.option-->

                    </select><!-- /.select-->
                </div><!-- /.travel-select-icon -->
            </div><!--/.single-tab-select-box-->
        </div><!--/.col-->

        <div class="col-lg-2 col-md-3 col-sm-10">
            <div class="single-tab-select-box">
                <h2>Agency</h2>

                <div class="travel-select-icon">
                    <select class="form-control ">

                          <option value="default">enter the agency's name (optional)</option><!-- /.option-->

                          <option value="istambul">istambul</option><!-- /.option-->

                          <option value="mosko">mosko</option><!-- /.option-->
                          <option value="cairo">cairo</option><!-- /.option-->

                    </select><!-- /.select-->
                </div><!-- /.travel-select-icon -->

            </div><!--/.single-tab-select-box-->
        </div><!--/.col-->

        <div class="col-lg-2 col-md-3 col-sm-8">
            <div class="single-tab-select-box">
                <h2>Tour</h2>
                <div class="travel-select-icon">
                    <select class="form-control ">

                          <option value="default">enter the tour's name (optional)</option><!-- /.option-->

                          <option value="istambul">istambul</option><!-- /.option-->

                          <option value="mosko">mosko</option><!-- /.option-->
                          <option value="cairo">cairo</option><!-- /.option-->

                    </select><!-- /.select-->
                </div><!-- /.travel-select-icon -->
            </div><!--/.col-->
        </div><!--/.col-->


        <div class="about-btn pull-right">
            <a routerLink='groupchat'><button  class="about-view travel-btn">
                search	
            </button></a><!--/.travel-btn-->
        </div><!--/.about-btn-->

    </div><!--/.row-->
</div><!--/.tab-para-->
<!--/.tabpannel-->